*{
    margin: 0;
    padding: 0;
}
.heading{
    /* background:url(); */
    background-color: rgb(64, 70, 85);
    width: 100vw;
    height: 100vh;

}
.nav{
    width: 100vw;
    height: 75px;
    background-color: rgb(59, 148, 148);
    position: sticky;
    top:0px;
}
.icon{
    width: 200px;
    height: 70px;
    float: left;
}
.logo{
    font-size: 25px;
    font-family: Arial;
    color: orange;
    font-style: normal;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 10px;
    padding: 8px;
}
.menu{
    width: 400px;
    height: 70px;
    float: left;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
ul li{
    list-style: none;
    margin-left: 30px;
    margin-top: 30px;
    padding-left: 10px;

}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: 15px;
    margin-left: 30px;
}
ul li a:hover{
    color: orange;
}
.search{
    width: 300px;
    height: 70px;
    float: left;
    margin-top: 22px;
    margin-left:20vw;

}
.srch{
    width: 200px;
    height: 30px;
    font-family: 'Times New Roman';
    font-size: 16px;
    padding: 5px;
    float: left;
    border: 2px solid orange;
    border-top-left-radius: 5px;
    border-bottom-right-radius:5px ;
   
}
.btn{
    width: 100px;
    height: 30px;
    font-family: 'Times New Roman';
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
    border: 2px solid orange;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}


